body{
    background-color: rgb(243, 164, 210);
}
#top-bar{
  color: rgb(14, 13, 13);
  font-size: xx-large;
  font-weight: 900;
  padding: 10px;
  text-align: center;
}
#search-section{
    margin-top: 10px;
    padding: 10px;
}
